<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
    <title>
        @ViewBag.Title
    </title>
    <!--     Fonts and icons     -->
    <link runat="server" rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link runat="server" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link runat="server" rel="stylesheet" href="~/assets/css/material-dashboard.css?v=2.0.0">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    @*<link runat="server" href="~/assets/assets-for-demo/demo.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/assets/css/Login.css" />
    <!-- iframe removal -->

</head>

<body class="">
    <script runat="server" src="~/Scripts/Chart.js"></script>
    <div class="wrapper">
        <div runat="server" class="sidebar" data-color="purple" data-background-color="white" @*data-image="../assets/img/sidebar-1.jpg"*@ style="background-color:white">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                @*<a runat="server" href="~/Home/Index" class="simple-text logo-normal">
                        dnaPrint
                    </a>*@
                <img runat="server" src="~/assets/img/dnaPrintlogo.jpeg" class="img-fluid" />
            </div>
            <div id="navMenu" class="sidebar-wrapper">
                <ul class="nav">
                    <li id="navDashboard" class="nav-item">
                        <a runat="server" class="nav-link" href="~/Home/Index">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li id="navEquipamentos" class="nav-item ">
                        <a runat="server" class="nav-link" href="~/CadastroEquipamentos/Index">
                            <i class="material-icons">print</i>
                            <p>Equipamentos</p>
                        </a>
                    </li>
                    <li id="navSetores" class="nav-item ">
                        <a runat="server" class="nav-link" href="~/CadastroSetors/Index">
                            <i class="material-icons">business</i>
                            <p>Setores</p>
                        </a>
                    </li>
                    <li id="navRelatorios" class="nav-item ">
                        <a runat="server" class="nav-link" href="~/Relatorios/Index">
                            <i class="material-icons">description</i>
                            <p>Relatorios</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        @{
                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">
                                    <i class="material-icons">exit_to_app</i>
                                    <p>Sair</p>
                                </a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#">@ViewBag.Title</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <form class="navbar-form">
                            @*
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            *@

                        </form>
                        <ul class="navbar-nav">
                            @*<li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="material-icons">dashboard</i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Stats</span>
                                        </p>
                                    </a>
                                </li>*@
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">person</i>
                                    @*<span class="notification">5</span>*@
                                    <p>
                                        <span class="d-lg-none d-md-block">Usuario</span>
                                    </p>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <label style="padding-left:40px">@ViewBag.Usuario</label><br />
                                    @Html.ActionLink("Registrar", "Register", "Account", null, new { @class = "dropdown-item" })
                                    @{
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
                                        }
                                    }
                                    @*<a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                        <a class="dropdown-item" href="#">Another Notification</a>
                                        <a class="dropdown-item" href="#">Another One</a>*@
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    @{
                        if (!User.Identity.IsAuthenticated && ViewBag.Title != "Efetuar login")
                        {
                            Response.Redirect(@"~/Account/Login");
                        }
                    }
                    @RenderBody()
                </div>
            </div>
            <footer class="footer ">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="http://www.csfdigital.com.br/">
                                    CSF - Digital
                                </a>
                            </li>
                            <li>
                                <a href="http://www.csfdigital.com.br/sobre.php">
                                    Sobre nós
                                </a>
                            </li>
                            <li>
                                <a href="http://www.csfdigital.com.br/servicos.php">
                                    Serviços
                                </a>
                            </li>
                            <li>
                                <a href="http://www.csfdigital.com.br/contato.php">
                                    Contato
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with love by
                        <a href="http://www.csfdigital.com.br/" target="_blank">CSF Digital</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <script>
        sessionStorage.setItem("paginaIni", "1");
        sessionStorage.setItem("paginaFim", "11");
        sessionStorage.setItem("Npag", "1");

        //function DefaultLinhasEquipamentos() {
        //    var tabela = document.getElementById("tabelaEquipamentos");
        //    var linhas = tabela.rows;
        //    for (var i = 1; i < linhas.length; i++) {
        //        if (i > 0 && i < 11) {
        //            linhas[i].style.display = "table-row";
        //        } else {
        //            linhas[i].style.display = "none";
        //        }
        //    }
        //}

        //function DefaultLinhasSetores() {
        //    var tabela = document.getElementById("tabelaSetores");
        //    var linhas = tabela.rows;
        //    for (var i = 1; i < linhas.length; i++) {
        //        if (i > 0 && i < 11) {
        //            linhas[i].style.display = "table-row";
        //        } else {
        //            linhas[i].style.display = "none";
        //        }
        //    }
        //}

        //function DefaultLinhasDashboard() {
        //    var tabela = document.getElementById("TabelaTonerBaixo");
        //    var linhas = tabela.rows;
        //    for (var i = 1; i < linhas.length; i++) {
        //        if (i > 0 && i < 11) {
        //            linhas[i].style.display = "table-row";
        //        } else {
        //            linhas[i].style.display = "none";
        //        }
        //    }

        //    var tabela = document.getElementById("TabelaDisponibilidade");
        //    var linhas = tabela.rows;
        //    for (var i = 1; i < linhas.length; i++) {
        //        if (i > 0 && i < 11) {
        //            linhas[i].style.display = "table-row";
        //        } else {
        //            linhas[i].style.display = "none";
        //        }
        //    }

        //}

        //function DefaultLinhasRelatorio() {

        //    var tabela2 = document.getElementById("tabRelatorioFaturamento");
        //    var linhas2 = tabela2.rows;
        //    for (var i = 1; i < linhas2.length; i++) {
        //        if (i > 0 && i < 11) {
        //            linhas2[i].style.display = "table-row";
        //        } else {
        //            linhas2[i].style.display = "none";
        //        }
        //    }


        //    var tabela2 = document.getElementById("tabRelatorioArqImpre");
        //    var linhas2 = tabela2.rows;
        //    for (var i = 1; i < linhas2.length; i++) {
        //        if (i > 0 && i < 11) {
        //            linhas2[i].style.display = "table-row";
        //        } else {
        //            linhas2[i].style.display = "none";
        //        }
        //    }
        //}

        //$("#Proxima").click(function () {
        //    var tabela = $(this).parents(".card-body").children()[0];
        //    alert(tabela.rows.length);
        //    var linhas = tabela.rows;

        //    for (var i = 1; i < linhas.length; i++) {
        //        linhas[i].style.display = "none";
        //        //alert(i + " " + "none");
        //    }

        //    var pagIni = parseInt(sessionStorage.paginaIni);
        //    var pagFim = parseInt(sessionStorage.paginaFim);
        //    pagIni = pagIni + 10;
        //    pagFim = pagFim + 10;

        //    //alert(pagIni);
        //    //alert(pagFim);

        //    sessionStorage.setItem("paginaIni", pagIni);
        //    sessionStorage.setItem("paginaFim", pagFim);

        //    //alert(sessionStorage.getItem("paginaIni"));
        //    //alert(sessionStorage.getItem("paginaFim"));

        //    for (var j = pagIni; j < pagFim; j++) {

        //        linhas[j].style.display = "table-row";
        //        //alert(j + " " + "table");
        //    }
        //});

        function ProximaPagina(nome) {


            var tabela = document.getElementById(nome);

            //alert(tabela.rows.length);
            var linhas = tabela.rows;
            if (sessionStorage.paginaFim >= linhas.length) {

            } else {
                for (var i = 1; i < linhas.length; i++) {
                    linhas[i].style.display = "none";
                    //alert(i + " " + "none");
                }
                var pagIni = parseInt(sessionStorage.paginaIni);
                var pagFim = parseInt(sessionStorage.paginaFim);
                pagIni = pagIni + 10;
                pagFim = pagFim + 10;

                var npag = parseInt(sessionStorage.Npag);
                npag = npag + 1;
                
                //alert(pagIni);
                //alert(pagFim);

                sessionStorage.setItem("Npag", npag);
                sessionStorage.setItem("paginaIni", pagIni);
                sessionStorage.setItem("paginaFim", pagFim);

                //alert(sessionStorage.getItem("paginaIni"));
                //alert(sessionStorage.getItem("paginaFim"));

                if (nome == "tabRelatorioArqImpre") {
                    document.getElementsByClassName("npagArq")[0].textContent = npag;
                }
                else {
                    document.getElementsByClassName("npag")[0].textContent = npag;
                }

                //document.getElementsByClassName("npag")[0].textContent = npag;
               

                //$(".npag")

                if (pagFim >= linhas.length) {
                    for (var j = pagIni; j < linhas.length; j++) {

                        linhas[j].style.display = "table-row";
                        //alert(j + " " + "table");
                    }

                } else
                {
                    for (var j = pagIni; j < pagFim; j++) {

                        linhas[j].style.display = "table-row";
                        //alert(j + " " + "table");
                    }
                }

                
            }
            
           

            
        }
        function AnteriorPagina(nome) {

            var tabela = document.getElementById(nome);

            //alert(tabela.rows.length);
            var linhas = tabela.rows;

            if (sessionStorage.paginaIni == "1") {

            } else
            {
                for (var i = 1; i < linhas.length; i++) {
                    linhas[i].style.display = "none";
                    //alert(i + " " + "none");
                }

                var pagIni = parseInt(sessionStorage.paginaIni);
                var pagFim = parseInt(sessionStorage.paginaFim);
                pagIni = pagIni - 10;
                pagFim = pagFim - 10;

                //alert(pagIni);
                //alert(pagFim);
                var npag = parseInt(sessionStorage.Npag);
                npag = npag - 1;

                sessionStorage.setItem("Npag", npag);
                sessionStorage.setItem("paginaIni", pagIni);
                sessionStorage.setItem("paginaFim", pagFim);

                //alert(sessionStorage.getItem("paginaIni"));
                //alert(sessionStorage.getItem("paginaFim"));
                if (nome == "tabRelatorioArqImpre") {
                    document.getElementsByClassName("npagArq")[0].textContent = npag;
                }
                else {
                    document.getElementsByClassName("npag")[0].textContent = npag;
                }


               

                for (var j = pagIni; j < pagFim; j++) {

                    linhas[j].style.display = "table-row";
                    //alert(j + " " + "table");
                }
            }

            
        }

        function Paginar1(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;

            for (var i = 1; i < linhas.length; i++) {
                if (i > 0 && i <= 10) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');
        }
        function Paginar2(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;

            for (var i = 1; i < linhas.length; i++) {
                if (i > 10 && i <= 20) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');

        }
        function Paginar3(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;
            for (var i = 1; i < linhas.length; i++) {
                if (i > 20 && i <= 30) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');

        }
        function Paginar4(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;
            for (var i = 1; i < linhas.length; i++) {
                if (i > 30 && i <= 40) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');

        }
        function Paginar5(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;
            for (var i = 1; i < linhas.length; i++) {
                if (i > 40 && i <= 50) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');

        }
        function Paginar6(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;
            for (var i = 1; i < linhas.length; i++) {
                if (i > 50 && i <= 60) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');

        }
        function Paginar6(nome) {
            var tabela = document.getElementById(nome);
            var linhas = tabela.rows;
            for (var i = 1; i < linhas.length; i++) {
                if (i >= 60 && i < 70) {
                    linhas[i].style.display = "table-row";
                } else {
                    linhas[i].style.display = "none";
                }
            }
            $('.pagination li').each(function (i) {
                i.removeClass("disable");
            });
            $(this).addClass('disable');

        }

        //DefaultLinhasDashboard();
        //DefaultLinhas();

    </script>

</body>
<!--   Core JS Files   -->
<script runat="server" src="~/assets/js/core/jquery.min.js"></script>
<script runat="server" src="~/assets/js/core/popper.min.js"></script>
<script runat="server" src="~/assets/js/bootstrap-material-design.js"></script>
<script runat="server" src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
<script runat="server" src="~/assets/js/plugins/chartist.min.js"></script>
<!-- Library for adding dinamically elements -->
<script runat="server" src="~/assets/js/plugins/arrive.min.js" type="text/javascript"></script>
<!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
<script runat="server" src="~/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Material Dashboard Core initialisations of plugins and Bootstrap Material Design Library -->
<script runat="server" src="~/assets/js/material-dashboard.js?v=2.0.0"></script>
<!-- demo init -->
@*<script runat="server" src="~/assets/js/plugins/demo.js"></script>*@


<script>
    $("#Disponibilidade").click(function () {
        TabelaDinamica("Disponibilidade");
    });
    $("#Falhas").click(function () {
        TabelaDinamica("Falhas");
    });
    $("#TonerBaixo").click(function () {
        TabelaDinamica("TonerBaixo");
    });

    function TabelaDinamica(nome) {
        $(".card[id^='Tab']").slideUp();
        $("#Tab" + nome).slideDown('slow');
    }
</script>
<style>
    .card-stats:hover {
        transition: 0.4s;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    }

        .card-stats:hover .card-icon {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            transition: 0.4s;
        }
</style>

<script type="text/javascript">
    switch (document.title) {
        case "Setores":
            $("#navDashboard").removeClass("active");
            $("#navEquipamentos").removeClass("active");
            $("#navRelatorios").removeClass("active");
            $("#navSetores").addClass("active");

            break;
        case "Equipamentos":
            $("#navDashboard").removeClass("active");
            $("#navSetores").remove("active");
            $("#navRelatorios").removeClass("active");
            $("#navEquipamentos").addClass("active");

            break;
        case "Dashboard":
            $("#navSetores").remove("active");
            $("#navEquipamentos").removeClass("active");
            $("#navRelatorios").removeClass("active");
            $("#navDashboard").addClass("active");

            break;
        case "Relatorios":
            $("#navSetores").remove("active");
            $("#navEquipamentos").removeClass("active");
            $("#navDashboard").removeClass("active");
            $("#navRelatorios").addClass("active");
        default:
            break;
    };
</script>
@if (ViewBag.alertaFalha == "Falha")
{
    <script type="text/javascript">
        md.showNotification('top', 'center', 2, "Uma nova <b style='Font-Size:large'>Falha</b> foi encontrada!", "warning");
    </script>
}
@if (ViewBag.alertaSuprimento == "Suprimento")
{
    <script type="text/javascript">
        md.showNotification('top', 'center', 1, "Um novo <b style='Font-Size:large'>Suprimento</b> chegou a 20%", "invert_colors");
    </script>
}
@if (ViewBag.alertaDisponibilidade == "DisponibilidadeOnline")
{
    <script type="text/javascript">
        md.showNotification('top', 'center', 4, "Um novo <b style='Font-Size:large'>Equipamento</b> esta online!", "invert_colors");
    </script>
}
@if (ViewBag.alertaDisponibilidade == "DisponibilidadeOffline")
{
    <script type="text/javascript">
        md.showNotification('top', 'center', 4, "Um <b style='Font-Size:large'>Equipamento</b> esta offline!", "print");
    </script>
}
<script type="text/javascript">
    $("#RelatorioFaturamento > .card-body").slideUp();


    $("#VisualizarFaturamento").click(function () {
        $("#RelatorioFaturamento > .card-body").slideToggle("slow");
        if ($("#VisualizarFaturamento").text == "Visualizar Relatorio") {
            $("#VisualizarFaturamento").text = "Recolher Relatorio";
        } else {
            $("#VisualizarFaturamento").text = "Visualizar Relatorio";
        }
    });

    $("#VisualizarArquivosImpressos").click(function () {
        $("#RelatorioArquivosImpressos > .card-body").slideToggle("slow");
        if ($("#VisualizarArquivosImpressos").text == "Visualizar Relatorio") {
            $("#VisualizarArquivosImpressos").text = "Recolher Relatorio";
        } else {
            $("#VisualizarArquivosImpressos").text = "Visualizar Relatorio";
        }
    });
</script>

<script>
    //DefaultLinhasDashboard();
</script>
<script>
    //DefaultLinhasRelatorio();
</script>
<script>
    //DefaultLinhasEquipamentos();
</script>
<script>
    //DefaultLinhasSetores();
</script>
<script title="TopFiveEquipamentos">

    function TopFiveEquipamentos() {
        var url = '/Home/TopFiveEquipamentos';

        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            success: function (result) {
                var ctx = document.getElementById("ChartTopEquip").getContext('2d');
                //Preenche os inputs com os valores retornados aqui.

                var obj = JSON.parse(result);
                console.log(obj);

                var arrayName = obj[0];
                var arrayValues = obj[1];
                var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {

                        labels: arrayName,
                        datasets: [{
                            label: [],
                            data: arrayValues,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }

                });

            },
            erro: function () {
                alert("Erro ao carregar grafico!");
            }
        });
    }

</script>
<script title="TopFiveUsuarios">

    function TopFiveUsuarios() {
        var url = '/Home/TopFiveUsuario';

        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            success: function (result) {
                var ctx = document.getElementById("ChartTopUser").getContext('2d');
                //Preenche os inputs com os valores retornados aqui.
                var ctxPrinter = document.getElementById("ChartTopUserPrinter").getContext('2d');

                var obj = JSON.parse(result);
                console.log(obj);

                var arrayName = obj[0];
                var arrayValues = obj[1];

                var arrayPrinterNames = obj[2];
                var arrayPrinterValues = obj[3];

                var myChart = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: {

                        labels: arrayName,
                        datasets: [{
                            label: [],
                            data: arrayValues,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }

                });

                var myChartPrinter = new Chart(ctxPrinter, {
                    type: 'horizontalBar',
                    data: {

                        labels: arrayPrinterNames,
                        datasets: [{
                            label: [],
                            data: arrayPrinterValues,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }

                });

            },
            erro: function () {
                alert("Erro ao carregar grafico!");
            }
        });
    }

</script>

<script>
    TopFiveEquipamentos();
    TopFiveUsuarios();
</script>
</html>
