@model Site.Models.CadastroSetor

@{
    ViewBag.Title = "Setores";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Novo Setor</h2>
        <h4 class="card-category">Preencha os dados do setor</h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group bmd-form-group">
                        <label>IdLocalidade</label>
                        @Html.DropDownList("idLocalidade", null, htmlAttributes: new { @class = "btn btn-secondary", @readonly = "readonly", @style = "width: 100%" })
                        @Html.ValidationMessageFor(model => model.idLocalidade, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">

                    <br />
                    <div class="form-group bmd-form-group">
                        <label>Descrição</label>
                        <br />
                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label>Centro de Custo</label>
                        @Html.EditorFor(model => model.centroCusto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.centroCusto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label>Status</label>
                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label>Cota Mensal</label>
                        @Html.EditorFor(model => model.cotaMensal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cotaMensal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


