@model Site.Models.CadastroSetor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CadastroSetor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CadastroUnidade.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroUnidade.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.centroCusto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.centroCusto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cotaMensal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cotaMensal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSetor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
