@model IEnumerable<Site.Models.CadastroSetor>

@{
    ViewBag.Title = "Setores";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Lista de Setores</h2>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Novo", "Create")
        </p>
        <table  id="tabelaSetores" class="table table-hover table-striped">
            <tr>
                <th>
                    Unidade
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Código
                </th>

                <th>
                    Cota Mensal
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CadastroUnidade.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.centroCusto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cotaMensal)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idSetor }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.idSetor })
                    </td>
                </tr>
            }

        </table>
        <div class="row">
            <div class="col-md-12" style="text-align:center">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="Anterior" type="button" class="btn btn-secondary" onclick="AnteriorPagina('tabelaSetores')" >Anterior</button>
                    <button type="text" class="npag btn-secondary" disabled>1</button>
                    <button id="Proxima" type="button" class="btn btn-secondary" onclick="ProximaPagina('tabelaSetores')" >Proxima</button>
                </div>
                @*<nav aria-label="Navegação de página exemplo">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a id="Anterior" class="btn-link" onclick="AnteriorPagina('tabelaSetores')">
                                <button class="btn-primary">
                                    Anterior
                                </button>
                            </a>
                        </li>
                        <li><label class="npag">1</label></li>
                        <li class="page-item"><a id="Proxima" class="page-link" onclick="ProximaPagina('tabelaSetores')">=></a></li>
                    </ul>
                </nav>*@
            </div>
        </div>
    </div>
</div>

<script>
    DefaultLinhasSetores();
    function DefaultLinhasSetores() {
        var tabela = document.getElementById("tabelaSetores");
        var linhas = tabela.rows;
        for (var i = 1; i < linhas.length; i++) {
            if (i > 0 && i < 11) {
                linhas[i].style.display = "table-row";
            } else {
                linhas[i].style.display = "none";
            }
        }
    }
</script>