@model IEnumerable<Site.Models.CadastroSetor>

@{
    ViewBag.Title = "Setores";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Lista de Setores</h2>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Novo", "Create")
        </p>
        <table  id="tabelaSetores" class="table table-hover table-striped">
            <tr>
                <th>
                    Unidade
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Código
                </th>

                <th>
                    Cota Mensal
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CadastroUnidade.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.centroCusto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cotaMensal)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idSetor }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.idSetor })
                    </td>
                </tr>
            }

        </table>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <nav aria-label="Navegação de página exemplo">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a id="Anterior" class="page-link" onclick="AnteriorPagina('tabelaSetores')"><=</a></li>
                        <li class="page-item"><a id="Proxima" class="page-link" onclick="ProximaPagina('tabelaSetores')">=></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

