@model IEnumerable<Site.Models.CadastroSetor>

@{
    ViewBag.Title = "Setores";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Lista de Setores</h2>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Novo", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    Unidade
                </th>
                <th>
                    Setor
                </th>
                <th>
                    Código
                </th>
                
                <th>
                    Cota Mensal
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CadastroUnidade.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.centroCusto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cotaMensal)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idSetor }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idSetor })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

