@{
    ViewBag.Title = "Novo equipamento";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model Site.Models.CadastroEquipamentos

<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Novo Equipamento</h2>
        <h4 class="card-category">Preencha os dados do equipamento</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                @*<h4>CadastroEquipamentos</h4>*@
                <hr />

                <div class="col-md-2">
                    <div class="form-group bmd-form-group">
                        <label>UF</label><br />
                        @Html.DropDownList("idEstado", null, htmlAttributes: new { @class = "btn btn-secondary", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group bmd-form-group">
                        <label>Cidade</label><br />
                        @Html.DropDownList("idCidade", null, htmlAttributes: new { @class = "btn btn-secondary", @readonly = "readonly", @style = "width:100%" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label>Unidade</label><br />
                        @Html.DropDownList("idLocalidade", null, htmlAttributes: new { @class = "btn btn-secondary", @readonly = "readonly", @style = "width:100%" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Setor</label><br />
                        @Html.DropDownList("idSetor", null, htmlAttributes: new { @class = "btn btn-secondary", @style = "width:100%" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Modelo</label><br />
                        @Html.DropDownList("idModeloEquipamento", null, htmlAttributes: new { @class = "btn btn-secondary", @style = "width:100%" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">IP</label><br />
                        @Html.EditorFor(model => model.ip, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ip, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Série</label><br />
                        @Html.EditorFor(model => model.serie, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.serie, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Fila</label><br />
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group bmd-form-group">
                        <label class="bmd-label-floating">Fila</label><br />
                        @Html.EditorFor(model => model.dtAtivacao, new { htmlAttributes = new { @class = "form-control", @type = "Date" } })
                        @Html.ValidationMessageFor(model => model.dtAtivacao, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
