@{
    ViewBag.Title = "Excluir equipamento";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model Site.Models.CadastroEquipamentos


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CadastroEquipamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CadastroCidade.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroCidade.cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CadastroEquipamentoModelo.Fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroEquipamentoModelo.Fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CadastroEstado.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroEstado.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CadastroSetor.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroSetor.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CadastroUnidade.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CadastroUnidade.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtAtivacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtAtivacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtDesativacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtDesativacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leituraDireta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leituraDireta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtModificacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtModificacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
