@{
    ViewBag.Title = "Equipamentos";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@model Site.Models.CadastroEquipamentos



<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Deseja excluir este equipamento?</h4>
    </div>
    <div class="card-body">
        <div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label>UF</label><br />
                    @Html.DisplayFor(model => model.CadastroEstado.UF)
                </div>
                <div class="col-md-2">
                    <label>Cidade</label><br />
                    @Html.DisplayFor(model => model.CadastroCidade.cidade)
                </div>
                <div class="col-md-3">
                    <label>Unidade</label><br />
                    @Html.DisplayFor(model => model.CadastroUnidade.descricao)
                </div>
                <div class="col-md-3">
                    <label>Setor</label><br />
                    @Html.DisplayFor(model => model.CadastroSetor.descricao)
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-2">
                    <label>Fabricante</label><br />
                    @Html.DisplayFor(model => model.CadastroEquipamentoModelo.Fabricante)
                </div>

                <div class="col-md-2">
                    <label>Modelo</label><br />
                    @Html.DisplayFor(model => model.CadastroEquipamentoModelo.Modelo)
                </div>

                <div class="col-md-3">
                    <label>Série</label><br />
                    @Html.DisplayFor(model => model.serie)
                </div>

                <div class="col-md-3">
                    <label>Fila</label><br />
                    @Html.DisplayFor(model => model.nome)
                </div>

                <div class="col-md-1"></div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Deletar" class="btn btn-primary" />

                </div>
            }
        </div>
    </div>

</div>
@Html.ActionLink("Voltar", "Index")