@model Site.Models.RegisterViewModel
@{
    ViewBag.Title = "Registre-se";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card card-header-primary">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <h2 style="text-align:center">Novo Usuario</h2>
                            <h4 style="text-align:center">@ViewBag.Add</h4>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="card card-body">
                   
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                     
                        
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control",@style = "max-width:100%" })                                
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:100%" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:100%" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10" style="text-align:center">
                                    <input type="submit" class="btn btn-default" value="Registrar" />
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
